{{#if error_message}}
    <p>Something went wrong!</p>
{{else}}
    {{#if peopleRanking}}
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
            }
            th {
                text-align: left;
            }
        </style>

        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Ranking</th>
                    <th>Region</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each peopleRanking}}
                    <tr>
                        <td>{{people_fname}}</td>
                        <td>{{people_lname}}</td>
                        <td>{{ranking_rank}}</td>
                        <td>{{ranking_location}}</td>
                        <td><a href="/delete/peopleranking/{{people_id}}/{{ranking_id}}">Delete</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}
{{/if}}

<h2>Enter New Relation</h2>
<form action="/add/peopleranking/" method="POST">
	<div class="form-group">
		<label for="people">Person</label>
		<select class="form-control" id="people" name="people">
			{{#each people}}
				<option value="{{people_id}}">{{people_fname}} {{people_lname}}</option>
			{{/each}}
		</select>
	</div>
	<div class="form-group">
		<label for="ranking">Ranking</label>
		<select class="form-control" id="ranking" name="ranking">
			{{#each ranking}}
				<option value="{{ranking_id}}">{{ranking_rank}} {{ranking_location}}</option>
			{{/each}}
		</select>
	</div>
	<button type="submit" class="btn btn-default">Add Relation</button>
</form>